repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  {% if include_ty -%}
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uvx ty check
        language: system
        pass_filenames: false
        always_run: true
        types: [python]
  {%- endif %}
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.1.0
    hooks:
      - id: commitizen
        stages: [commit-msg]
